body {
    background-color: #f6f6c5;
}

main {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

h1 {
    margin: 0 auto;
}

/* Section headings  */
.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0 0 0;
}

.heading h1 {
    font-family: "Caveat", cursive;

    font-size: 6rem;
    text-align: center;
    color: #29876e;
}

.content {
    display: flex;
    justify-content: center;
    align-items: start;
}

.content_img {
    border: 3px solid #fff;
    max-width: 450px;
    margin-bottom: 30px;
    box-shadow: 5px 5px rgb(112, 112, 112);
    box-shadow: 10px 10px 5px #ccc;
}

.branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 700px;
    margin: 0 75px;
    padding: 0px;
    color: #000000;
}

.title_name {
    font-family: "Anton", sans-serif;
    font-size: 2.5em;
    margin: 0.25rem auto;
    color: #29876e;
}

.about_quote {
    max-width: 500px;
    font-size: 1.25rem;
    text-align: cetner;
    color: #578665;
    margin: 0.5rem auto;
}

.quote_highlight {
    font-style: normal;
    color: #44684f;
}

.caption {
    text-align: justify;
    color: #44684f;
    font-weight: 600;
}

.reels_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.reels_main h2 {
    font-size: 1.5rem;
}

.main_vid {
    max-width: 80%;
}

.reels_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin: 0 auto;
}

.reel_vid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.reel_vid h3 {
    font-size: 1.25rem;
}

.vid {
    max-width: 100%;
}

.pdf_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 100%;
    max-width: 1100px;
    min-height: 85vh;
}

#resume p {
    font-size: 1.25rem;
    text-align: center;
}

#resume p a {
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    main {
        padding-bottom: 20px;
    }

    .heading {
        padding: 60px 0 0 0;
    }

    .heading h1 {
        font-size: 5rem;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .image_first_mobile {
        flex-direction: column-reverse;
    }

    .title_name {
        font-size: 2rem;
    }

    .main_vid {
        max-width: 100%;
    }

    .reels_grid {
        grid-template-columns: 1fr;
    }

    @media (max-width: 766px) {
        .content_img {
            max-width: 85vw;
        }
        .navbar-brand {
            font-size: 1rem;
        }

        .branding {
            margin: 0 30px;
        }
    }

    @media (max-width: 500px) {
    }
}

@media screen and (max-width: 650px) {
    iframe {
        min-height: 450px;
    }
}
