@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Gloria+Hallelujah&family=Rock+3D&display=swap");

.hamburger {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
    font-size: 2rem;
}

.hamburger:hover {
    color: #696969;
}

.close_modal {
    display: flex;
    justify-content: end;
}

.close_btn {
    padding: 0 15px 0 0;
    color: #fff;
    font-size: 2.5rem;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.45);
    padding: 0 0 30px 0;
    margin: auto;
    max-width: 350px;
    border-radius: 2.25rem;
}

.modal-title {
    color: #fff;
    font-weight: bold;
}

.navbar_modal_body {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    font-family: "Caveat", cursive;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
}

@media screen and (min-width: 1100px) and (min-height: 600px) {
    .hamburger {
        display: none;
    }
}
